{% extends 'base.html.twig' %}

{% block title %}new{% endblock %}

{% block body %}

   <div class="container">
    {{ form_start(new_restaurateur) }}
    {{ form_end(new_restaurateur) }}
  </div>

{% endblock %}
