{% extends 'base.html.twig' %}

{% block title %}Nouveau utilisateur | QuickEat{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-center shadow p-3 my-5 bg-warning rounded">
        <h1>Nouveau utilisateur</h1>
    </div>
    {{ include('user/_form.html.twig') }}
</div>
{% endblock %}
